**Introduction to R**
1. Basics of R:

Environment: R can be used in the R console, RStudio (a popular IDE for R), or integrated into other software like Jupyter Notebooks.

Syntax: R's syntax is quite expressive and allows for several ways to perform tasks. It uses functions extensively and has data types and structures optimised for statistical data analysis.

2. Data Types and Structures:

Vectors: Basic data structure in R, a single entity consisting of elements of the same type.

Lists: Similar to Python's lists but can contain elements of different types.

Data frames: Equivalent to Python's pandas DataFrame, they are used for storing data tables.

3. Basic Operations:

Arithmetic: Just like in Python, you can perform arithmetic operations using +, -, *, /.

Functions: You can use built-in functions like mean(), sum(), min(), and max(), or define your own using the function() keyword.

To use in Google Colab:

1. Runtime Menu
2. Change Runtime Type to R

In [1]:
### Example Code ###
# Creating a vector
data <- c(1, 2, 5, 4, 6)

# Calculating mean
mean(data)

# Creating a data frame
df <- data.frame(
  Name = c("Alice", "Bob", "Cathy"),
  Age = c(25, 30, 22),
  Salary = c(50000, 54000, 47000)
)

# Accessing data frame columns
df$Age

[1] 3.6

[1] 25 30 22